In [3]:
import pandas as pd

In [28]:
df = pd.read_excel('港股打新人数.xls')

In [29]:
df.head()

        上市日期  申购人数
0 2015-01-09  1668
1 2015-01-13   704
2 2015-01-14  3338
3 2015-01-15  3662
4 2015-01-15  1618

In [10]:
df2 = pd.DataFrame(df.values.T,)

In [11]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,833,834,835,836,837,838,839,840,841,842
0,2015-01-09 00:00:00,2015-01-13 00:00:00,2015-01-14 00:00:00,2015-01-15 00:00:00,2015-01-15 00:00:00,2015-01-15 00:00:00,2015-01-16 00:00:00,2015-01-30 00:00:00,2015-02-13 00:00:00,2015-03-11 00:00:00,...,2021-01-15 00:00:00,2021-01-15 00:00:00,2021-01-15 00:00:00,2021-01-18 00:00:00,2021-01-19 00:00:00,2021-01-26 00:00:00,2021-02-04 00:00:00,2021-02-05 00:00:00,2021-02-05 00:00:00,2021-02-08 00:00:00
1,1668,704,3338,3662,1618,784,1196,1226,422,3505,...,35479,26091,313721,37522,92145,331495,567475,87981,1422977,264120

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 843 entries, 0 to 842
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   上市日期    843 non-null    datetime64[ns]
 1   申购人数    843 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 13.3 KB

In [15]:
df2.to_excel('people3.xls',index=None,header=None)

ValueError: column index (256) not an int in range(256)

In [17]:
import xlsxwriter   #导入模块
workbook = xlsxwriter.Workbook('new_excel.xlsx')     #新建excel表
worksheet = workbook.add_worksheet('sheet1')       #新建sheet（sheet的名称为"sheet1"）
headings = ['Number','testA','testB']  
   #设置表头
data = [
    ['2017-9-1','2017-9-2','2017-9-3','2017-9-4','2017-9-5','2017-9-6'],
    [10,40,50,20,10,50],
    [30,60,70,50,40,30],
]                                                              #自己造的数据
 
worksheet.write_row('A1',headings)
worksheet.write_column('A2',data[0])
worksheet.write_column('B2',data[1])
worksheet.write_column('C2',data[2])                   #将数据插入到表格中
 
workbook.close()

In [52]:
import xlsxwriter   #导入模块
workbook = xlsxwriter.Workbook('new_people.xlsx')     #新建excel表
worksheet = workbook.add_worksheet('sheet1')       #新建sheet（sheet的名称为"sheet1"）

In [19]:
df.head(2)

                  上市日期  申购人数
0  2015-01-09 00:00:00  1668
1  2015-01-13 00:00:00   704

In [26]:
for index,item in df.iterrows():
    date=item['上市日期']
    count=item['申购人数']
    date=date.replace(' 00:00:00','')
    worksheet.write(0,index,date)
    worksheet.write(1,index,count)

workbook.close()

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 843 entries, 0 to 842
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   上市日期    843 non-null    object
 1   申购人数    843 non-null    int64
dtypes: int64(1), object(1)
memory usage: 13.3+ KB

In [33]:
df= df.set_index('上市日期')

In [32]:
df.head()

        上市日期  申购人数
0 2015-01-09  1668
1 2015-01-13   704
2 2015-01-14  3338
3 2015-01-15  3662
4 2015-01-15  1618

In [34]:
df.head()

            申购人数
上市日期
2015-01-09  1668
2015-01-13   704
2015-01-14  3338
2015-01-15  3662
2015-01-15  1618

In [35]:
df_m = df.resample('M').sum()

In [40]:
df_m.head()

              申购人数
上市日期
2015-01-31   14196
2015-02-28     422
2015-03-31   39179
2015-04-30  142838
2015-05-31  110068

In [53]:
line=0
for index,item in df_m.iterrows():
    # print(index)
    # print(type(index))
    date=str(index).replace(' 00:00:00','')
    date=date[:-3]
    count=item['申购人数']
    # date=item.index
    # print(date)
    # print(type(date))
    # count=item['申购人数']
    # date=date.replace(' 00:00:00','')
    worksheet.write(0,line,date)
    worksheet.write(1,line,count)
    line+=1

workbook.close()

In [56]:
df_m[df_m['申购人数']==0]

            申购人数
上市日期
2016-02-29     0